<h1>Listing Players</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for player <- @players do %>
    <tr>
      <td><%= player.name %></td>

      <td>
        <span><%= link "Show", to: Routes.player_path(@conn, :show, player) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
